In [1]:
import pandas as pd

In [2]:
cluster0_item_rules = pd.read_csv('../input/associationRule/group0_item_rules.csv', index_col = 0)
cluster1_item_rules = pd.read_csv('../input/associationRule/group1_item_rules.csv', index_col = 0)
cluster2_item_rules = pd.read_csv('../input/associationRule/group2_item_rules.csv', index_col = 0)
cluster3_item_rules = pd.read_csv('../input/associationRule/group3_item_rules.csv', index_col = 0)
cluster4_item_rules = pd.read_csv('../input/associationRule/group4_item_rules.csv', index_col = 0)
cluster5_item_rules = pd.read_csv('../input/associationRule/group5_item_rules.csv', index_col = 0)
cluster0_aisle_rules = pd.read_csv('../input/associationRule/group0_aisle_rules.csv', index_col = 0)
cluster1_aisle_rules = pd.read_csv('../input/associationRule/group1_aisle_rules.csv', index_col = 0)
cluster2_aisle_rules = pd.read_csv('../input/associationRule/group2_aisle_rules.csv', index_col = 0)
cluster3_aisle_rules = pd.read_csv('../input/associationRule/group3_aisle_rules.csv', index_col = 0)
cluster4_aisle_rules = pd.read_csv('../input/associationRule/group4_aisle_rules.csv', index_col = 0)
cluster5_aisle_rules = pd.read_csv('../input/associationRule/group5_aisle_rules.csv', index_col = 0)

In [3]:
cluster_df = pd.read_csv('../input/cluster_df', index_col = 0)
products = pd.read_csv('../input/products.csv', index_col = 0)
aisles = pd.read_csv('../input/aisles.csv', index_col = 0)

In [4]:
cluster_df = cluster_df.set_index('user_id')
cluster_df

                0         1         2         3         4         5  cluster
user_id
1       -0.103161  0.048617 -0.031839 -0.005641 -0.053010 -0.055237        2
2       -0.077766  0.077983 -0.076148 -0.101672  0.081783 -0.040413        2
3        0.057496  0.085719  0.001778 -0.013192 -0.028501  0.113069        1
4       -0.055343  0.134731 -0.002393 -0.037707 -0.087802 -0.027370        0
5        0.133936 -0.019591 -0.020960 -0.003732  0.057738  0.138888        1
...           ...       ...       ...       ...       ...       ...      ...
206205  -0.021674  0.081783 -0.073480 -0.088441  0.155972 -0.022705        1
206206  -0.040316 -0.036658 -0.024048  0.010055 -0.050993  0.000816        2
206207  -0.022110 -0.032613 -0.009467 -0.015800  0.021494  0.020461        1
206208  -0.002217 -0.010633 -0.037621 -0.007753  0.028741  0.044834        1
206209  -0.072488  0.017515 -0.043591 -0.003223 -0.010484  0.027638        2

[206209 rows x 7 columns]

In [5]:
cluster_item_rules_dic = {}
cluster_item_rules_dic[0] = cluster0_item_rules
cluster_item_rules_dic[1] = cluster1_item_rules
cluster_item_rules_dic[2] = cluster2_item_rules
cluster_item_rules_dic[3] = cluster3_item_rules
cluster_item_rules_dic[4] = cluster4_item_rules
cluster_item_rules_dic[5] = cluster5_item_rules

In [6]:
cluster_aisle_rules_dic = {}
cluster_aisle_rules_dic[0] = cluster0_aisle_rules
cluster_aisle_rules_dic[1] = cluster1_aisle_rules
cluster_aisle_rules_dic[2] = cluster2_aisle_rules
cluster_aisle_rules_dic[3] = cluster3_aisle_rules
cluster_aisle_rules_dic[4] = cluster4_aisle_rules
cluster_aisle_rules_dic[5] = cluster5_aisle_rules

In [7]:
# returns top x items associated based on lift

def product_to_product(cluster, product_id, item_lift, product_name, num_products):
    df = cluster_item_rules_dic[cluster]
    df = df[(df['item_A'] == product_id) | (df['item_B'] == product_id)][['product_name_A','item_A','product_name_B','item_B','confidenceAtoB','lift']].sort_values('lift', ascending = False)
    df = df[df['lift'] > item_lift]
    df = df.sort_values('lift', ascending = False)
    df = df.head(n = num_products)
    product_to_product_associations = df['product_name_A'].values.tolist()
    for x in df['product_name_B'].values.tolist():
        product_to_product_associations.append(x)
    product_to_product_associations = [x for x in product_to_product_associations if x != product_name]
    return product_to_product_associations

In [8]:
# returns recommended products given inputs

def pdp_recommender(user_id, product_id, item_lift, num_products):
    product_name = products.at[product_id,'product_name']
    aisle_id = products.at[product_id,'aisle_id']
    aisle_name = aisles.at[aisle_id,'aisle']
    cluster = cluster_df.at[user_id, 'cluster']
    print(cluster)
    return product_to_product(cluster = cluster, product_id = product_id, item_lift = item_lift, 
                              product_name = product_name, num_products = num_products)

In [9]:
# results for users in the 6 different clusters

users = [6,26,1,81,4,7]
i = 0
for x in users:
    print('cluster ' + str(i) + str(pdp_recommender(x,39055,1,5)))
    i = i + 1

3
cluster 0['Thin & Light Tortilla Chips', 'Red Peppers', 'Organic Lemon', 'Organic Cucumber', 'Organic Grape Tomatoes']
5
cluster 1[]
2
cluster 2['Real Guacamole', 'Thin & Light Tortilla Chips', 'Original Hummus', 'Organic Reduced Fat 2% Milk', 'Thick & Crispy Tortilla Chips']
4
cluster 3[]
0
cluster 4['Thin & Light Tortilla Chips', 'Organic Raspberries', 'Banana', 'Organic Strawberries', 'Organic Hass Avocado']
1
cluster 5['Thin & Light Tortilla Chips', 'Organic Large Brown Grade AA Cage Free Eggs', 'Organic Reduced Fat 2% Milk', 'Organic Large Grade AA Brown Eggs', 'Thick & Crispy Tortilla Chips']